img{
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    height: 600px;
    width: 800px;
    box-shadow: 0 0 0 8;
    justify-content: space-between;
}
h2{
    align-items: center;
}