body{
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
header {
  background-color: #f0f0f0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* título de um lado, links do outro */
  align-items: center;
}

footer {
  background-color: #f0f0f0;
  padding: 10px 20px;
  text-align: center; /* centraliza o texto */
  font-size: 0.9rem;
  color: #555;
}



.botoes{
  background-color:red;
  padding: auto;
}
.botoes:hover {
  background-color: blue;
}
